*{
    box-sizing: border-box;
}
.nav-link{
    font-size: 16px;
}
.navbar-brand{
    font-size: 20px;
}
.nav-item.active:nth-child(1){
    background:  linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.mtx{
    color: #FFF;
    font-size: 54px;
    font-weight: 700;
    margin-top: 101px;
    /*text-align: center;*/
    left: 380px;
}
nav{
    width: 1200px;
}
.stx{
    color: #FFF;
    display: flex;
    text-align: center;
    font-size: 16px;
    line-height: 150%;
    margin-top: 260px;
    left: 550px;
}
.guestion{
    /*border: 1px solid #FFF;*/
    width: 180px;
    height: 95px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(5px);
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    left: 1295px;
    top:300px;
}
.money{
    font-size: 22px;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 0px;
}
.name{
    font-size: 16px;
    margin-left: 20px;
}
.guestion:before {
    content: "";
    position: absolute;
    right: 43%;
    top: 100%;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid rgba(255, 255, 255, 0.20);
    border-bottom: 13px solid transparent;
    transform:rotate(-90deg);
}
.trs{
    width: 46px;
    height: 46px;
    background: rgba(255, 255, 255, 0.20);
    border: 1px solid #FFF;
    border-radius: 100%;
}
.tr1-circle,.tr2-circle,.tr3-circle{
    width: 46px;
    height: 46px;
}
.tr1-circle{
    top: 56%;
    left: 89.6%;
}
.tr2-circle{
    top: 54.5%;
    left: 10.5%;
}
.tr3-circle{
    top: 36.5%;
    left: 6%;
}
.trsm{
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 100%;
}
.frame{
    height: 90px;
    width: 1200px;
    margin: 0px auto;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: flex-start;*/
    /*flex-shrink: 0;*/
}

.Nochargeforeachdelivery{
    font-size: 14px;
    color:#828282;
}
.box{
    flex-wrap: nowrap;
}
.fmain>img{
    width: 100%;
}
.t100\%{
    font-size: 14px;
    color:#828282;
}
.Quick{
    flex-wrap: nowrap;
}
.qsupport{
    font-size: 14px;
    color:#828282;
}
.support{
    flex-wrap: nowrap;
}
.tx3{
    width: 206px;
    height: 77px;
}
.ft{
    font-size: 50px;
}
.Best{
    display: flex;
    margin: auto;
    height: 400px;
    width: 1195px;
    align-items: center;
    margin-top: 150px;
}
.cards{
    column-gap: 20px;
}
.card{
    width: 280px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #C1D0E4;
}
.info{
    width: 280px;
    height: 225px;
    background-color: white;
    border-radius:50px ;
}
.image{
    bottom: 250px;
}
.good_info{
    left: 30px;
    top: 20px;
}
.stars{
}
.Cammile{
    font-size: 22px;
}
.price{
    font-size: 22px;
    left: 40px;
    bottom: 30px;
    width: 230px;
}
.curclerain{
    width: 46px;
    height: 46px;
    background:  linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
    border: 1px solid #FFF;
    border-radius: 100%;
}
.interior{
    font-size: 50px;
}
.PlantReference{
    margin-top: 150px;
}
.make{
    font-size: 14px;
}
.furniture{
    margin-top: 150px;
    margin-left: -50px;
    column-gap: 20px;
    height: 770px;
    width: 100%;
}
.living{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.30);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50px;
    font-size: 48px;
}
.care{
    margin-top: 150px;
    margin-left: 100px;
}
.howCare{
    font-size: 50px;
    width: 300px;
}
.heart{
    font-size: 18px;
}
.plant{
    margin-top: 100px;
    gap: 40px;
}
.Adjust{
    font-size: 20px;
}
.caring{
    font-size: 14px;
}
.f1{
    display: flex;
    flex-direction: row;
}
.first{
    align-items: flex-start;
    gap: 24px;
    height: 70px;
}
.left2{
    height: 800px;
}
.second{
    align-items: flex-start;
    gap: 24px;
    height: 70px;
}
.Water{
    font-size: 20px;
}
.watering{
    font-size: 14px;
}
.third{
    align-items: flex-start;
    gap: 24px;
    height: 70px;
}
.dont_Water{
    font-size: 20px;
}
.watering_plants{
    font-size: 14px;
}
.fourth{
    align-items: flex-start;
    gap: 24px;
    height: 70px;
}
.Fertilize{
    font-size: 20px;
}
.nutrients{
    font-size: 14px;
}
.right{
    padding-top: 80px;
}
.Newslatter{
    background: linear-gradient(133deg, #566270 0%, #283444 100%);
    height: 450px;
    margin-top: 150px;
}
.block_main{
    width: 1400px;
    padding: 80px 60px;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    column-gap: 50px;
    margin-left: 100px;
    border-bottom:2px solid #FFF;
}
f1{
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: flex-start;
}
input{
    border-radius: 50px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.20);
}
input {
    color: white;
}
.last_of_us{
    background:  linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
    border-radius: 50px;
    border: 0px;
    bottom: 150px;
}
.daynkuemail{
    left: 400px;
}
input {
    margin: 0px;
    padding: 0px;
    width: 100%;
    outline: none;
    height: 50px;
    border-radius: 50px;
    padding-left: 15px;
}

.btn{
    position: absolute;
    border-radius: 50px;
    z-index: 2;
    top: 5px;
    height: 40px;
    right: 13px;
    margin-right: -10px;
    transform: translateX(2px);
    background:  linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
    border: 0px solid #FFF;
}
.buttonIn {
    width: 300px;
    position: relative;
}




